torch
torchvision
torchinfo
torch.utils.data
lightning
lightning.fabric
timm
pytorch_grad_cam
sklearn
scipy
numpy
pandas
matplotlib
cv2
PIL
tqdm
evaluate
google.colab
requests
shutil
time
random
copy
warnings
os
glob